//banner图样式
.home-blog .mask{
    -webkit-filter: blur(10px) brightness(0.6);
    filter: blur(10px) brightness(0.6);
    margin: -10px;
}

//首页右侧分类个数样式
.home-blog .home-blog-wrapper .info-wrapper .category-wrapper .category-item a{
    align-items: center;
}


//valine样式
.valine-wrapper #valine.v {
    .vwrap{
        background: none
    }
    .txt-right{
        display: none
    }
}



