$accentColor = #67cc86
$textColor = #232321



//收款码
.demo {
  color: $accentColor; // First reward text and closed icon color.
  color: $textColor; // Second reward text and container body text color.
  background-color: lighten($accentColor, 50%);;
}